<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958370146112-c9k9hp1jd040kr44f0dg2i8gvmff1hfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958370146112-c9k9hp1jd040kr44f0dg2i8gvmff1hfh</string>
	<key>API_KEY</key>
	<string>AIzaSyAFyUdBC98NM130xMOAH0tehVV16_xKC4A</string>
	<key>GCM_SENDER_ID</key>
	<string>958370146112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizapp2</string>
	<key>PROJECT_ID</key>
	<string>quizmaker-78191</string>
	<key>STORAGE_BUCKET</key>
	<string>quizmaker-78191.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958370146112:ios:b8055b8a98d9bf8eeb7ca5</string>
</dict>
</plist>